.blogBody {
  padding: 2%;
}

.blog-container {
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  margin: 1rem auto 1rem auto;
  gap: 1rem
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  padding: 2%;
  float: left;
  margin: 0 auto auto auto;
  width: 70%;
}

/* Right column */
.rightcolumn {
  padding: 2%;
  float: right;
  width: 25%;
  padding-left: 20px;
}

/* Image */
.img {
  background-color: #aaa;
  height: 100%;
  width: 106%;
  object-fit: cover;
  object-position: center top;
  margin-top: -3%;
  margin-left: -3%;
  margin-right: -3%;
}
/*

*/

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn,
  .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
