.merchCard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.merchCard {
  padding: 10px;
}

.merchCard-functionContainer {
  display: flex;
  justify-content: space-between;
  padding: .5rem
}

.addToCart-container {
  margin: auto;
}

.h1 {
  margin-left: 20px;
}
